/* Document wide styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1,h2,h3{
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 2em;
}


body{
  background-image: linear-gradient(#f9f7f7, #dbe2ef);
}

hr{
  border-style: dotted none none;
  border-width: 5px 0;
  width: 15%;
  border-top-width: 10px;
  border-color: #bfbfbf;
  margin: auto;
}

table{
  margin: 5vh auto;
  border: 5px solid #4c4c4c;
}

a {
  color: white;
  padding: 0 3px;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  cursor: pointer;
}

a:visited{
  color: #f9f9f9;
}

.exp-img{
  height: 10vh;
  width: auto;
  margin: 0 1vw;
}

/* Opening Page Styling */

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  animation-iteration-count: 1;
  height: 100vh;
  width: 100vw;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.down-arrow{
  position: absolute;
  bottom: 5vh;
  height: 9vh;
  animation: flash 2s 1.5s infinite;
  padding: 5px;
  opacity: 0;
}

.down-arrow:hover{
  padding: 5px;
  border-radius: 50%;
  background-color: #d1d1d1;
}

.title .hide{
  display: none;
}

@keyframes flash {
  0%{
    opacity: 0;
    height: 5vh;
  }
  100%{
    height: 9vh;
    opacity: 1;
  }
}


/* Navbar Styling */
nav {
  padding: 10px 5px;
  font-size: 1em;
  color: #f9f9f9;
  display: none;
  background-color: #606060;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  height: 7vh;
  width: 100%;
  position: fixed;
  transition: top 0.2s ease-in-out;
  opacity: 0;
  animation: 1s fadein 2s forwards;
  border-bottom: 2px solid #ffde7d;
  z-index: 1;
}

li{
  display: inline;
}

li a{
  display: block;
}

.burger div{
  height: 5px;
  width: 28px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger{
  display: none;
}

.nav-up{
  top: -7vh;
}

.navtitle {
  margin-right: auto;
}

.nav-links{
  list-style-type: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}


/* About Section Styling */
#about{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#dbe2ef , #f9f7f7);
}

.sub-section{
  padding: 5vh 20vw;
}

.sub-section h2 {
  text-decoration: underline;
}

.home-background{
  background-image: url("images/michigan-b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-background > img{
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid #ffde7d;
}

.home-background > .sub-section {
  display: none;
  color: white;
}
.bio-desc{
  margin-top: 2vh;
  background-color: #6b778d;
  border: 5px double #e2c275;
  border-radius: 2%;
}

.bio-desc p{
  padding: 10px;
}

.me {
  border-radius: 50%;
  margin-top:5vh;
}

.sub-section > div{
  border-right: 2px solid #ffde7d;
  border-left: 2px solid #ffde7d;
}



/* Experience Sub-section */
.exp-table{
  background-color: #6b778d;
  border: 5px double #e2c275;
  color: white;
}

.exp-table thead tr th{
  border-bottom: 5px double #e2c275;
}


/* Programming Sub-Section */

.programming{
  background-color: #d14747;
}

.programming tr td{
  width: 15vw;
  height: 15vh;
  color: white;
}

td img{
  height: 5vh;
  width: auto;
}

/* Contact Section */
#contact{
  color: white;
  background-color: #636363;
}


.contact-div hr{
  width: 100%;
  border-top: 5px solid black;
}

.cont-options img{
  margin: 3vh 4vw;
}


/* Transition Stylings */
.hide {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
  padding: 0;
  background-image: linear-gradient(#f9f7f7, #dbe2ef);
}


.fade{
  opacity: 0;
  animation: slidefade 2s ease-in 2s forwards;
}
@keyframes slidefade {
  100%{
    opacity: 1;
  }
}

/* Media Query for different widths */

@media only screen and (max-width: 540px){
  .sub-section{
    padding: 5vh 7vw;
  }
}

@media only screen and (max-width: 768px){
  .burger{
    display: block;
  }
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    top: 7vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #606060;
    transform: translateX(100%);

  }
  .nav-links li{
    opacity: 0;
    margin: 5px;
    font-size: 1.75em;
    width: 100%;
    display: block;
    background-color: #787878;
    border-radius: 15px;
  }
}



.nav-active{
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-10px,-10px);
}
