* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 2em;
}

body{
  background-image: url('images/marble.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}

/* Opening Page Styling */

#opening{

}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  animation-iteration-count: 1;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.down-arrow{
  position: absolute;
  bottom: 5vh;
  height: 9vh;
  animation: flash 2s 1.5s infinite;
  padding: 5px;
  opacity: 0;
}

.down-arrow:hover{
  padding: 5px;
  border-radius: 50%;
  background-color: #d1d1d1;
}
.title .hide{
  display: none;
}

@keyframes flash {
  0%{
    opacity: 0;
    height: 5vh;
  }
  100%{
    height: 9vh;
    opacity: 1;
  }
}
/* Navbar Styling */
nav {
  padding: 10px 5px;
  font-size: 1em;
  color: #f9f9f9;
  display: none;
  background-color: #606060;
  justify-content: flex-end;
}

a {
  padding: 0 3px;
}

a:visited{
  color: #f9f9f9;
}

.navtitle {
  margin-right: auto;
}

/* About Section Styling */
#about{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.me {
  border-radius: 50%;
}


/* Transition Stylings */
.hide {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.show {
  height: 100vh;
  width: 100vw;
  transition: height 1s ease-in-out;
}
